[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pycodestyle = "*"
mypy = "*"
vcrpy = "*"
bump2version = "*"
wheel = "*"
tox = "==3.7.0"
tox-pipenv = "*"
tox-pyenv = "*"
watchdog = "*"
coverage = "*"
sphinx = "*"
twine = "*"
click = "*"
flake8 = "*"

[packages]
requests = "*"
pytz = "*"
