# Python CircleCI 2.1 configuration file
#
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.7

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Pipfile.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
             pipenv install --dev
             pipenv check
             # It is currently unknown where eQF46Ow3 comes from
             source $HOME/.local/share/virtualenvs/repo-eQF46Ow3/bin/activate

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}

      - run:
          name: run tests
          command: |
            python tests.py
            pylint *.py

      #- store_artifacts:
      #    path: test-reports
      #    destination: test-reports
