interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - Bearer IGrrsB6voxBo8eC7jkQvbYbJjsgQp4
      Content-Type:
      - application/json
    method: POST
    uri: https://api.badgr.io/v2/badgeclasses/2TfNNqMLT8CoAhfGKqSv6Q/assertions
  response:
    body:
      string: '{"status":{"description":"bad request","success":false},"validationErrors":[],"fieldErrors":{"recipient":["This
        field is required"]},"result":[]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/ld+json
    status:
      code: 400
      message: Bad Request
version: 1
