interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer AUWEExsd6bJBURpCZlevfQJs7Nrgcq
    method: GET
    uri: https://api.badgr.io/v2/badgeclasses
  response:
    body:
      string: "{\"status\":{\"description\":\"ok\",\"success\":true},\"result\":[{\"\
        entityType\":\"BadgeClass\",\"entityId\":\"cTjxL52HQBiSgIp5JuVq5w\",\"openBadgeId\"\
        :\"https://api.badgr.io/public/badges/cTjxL52HQBiSgIp5JuVq5w\",\"createdAt\"\
        :\"2019-09-04T19:03:24Z\",\"createdBy\":\"LjhaHDrCT7K6EdwC_vVVIA\",\"issuer\"\
        :\"5Dm1JnO_STiXQ26x5yD4Kg\",\"issuerOpenBadgeId\":\"https://api.badgr.io/public/issuers/5Dm1JnO_STiXQ26x5yD4Kg\"\
        ,\"name\":\"Bay Area Python Interest Group TDD Participant\",\"image\":\"\
        https://media.badgr.io/uploads/badges/issuer_badgeclass_488caee0-6fb7-42b5-b94e-d4ea0ac7d22d.png\"\
        ,\"description\":\"There are often many buzzwords that are used incorrectly\
        \ and abused. Often people hear the phrase Test Driven Development (TDD) and\
        \ think this is just a term that means \u201CTesting your code.\u201D Although\
        \ Testing your code is important, Test Driven Development is a special paradigm\
        \ that is often used in certain companies.\\n\\nAfter this talk, you may decide\
        \ that full Test Driven Development (TDD) isn\u2019t for you (or, it may be\
        \ a turning point for you). Regardless, you should fully understand the paradigms\
        \ and what it is - as it will come up in discussions some time in your career.\\\
        n\\nTo make it accessible to everyone, we will start this talk with an introduction\
        \ to Unit Tests and testing frameworks (e.g, unittest, pytest, nose, etc.)\
        \ We do a few very basic live demonstrations of both succeeding and failing\
        \ unit tests.\\n\\nWe quickly, however ramp up building a data structure (e.g.,\
        \ stack, queue, tree, etc.) using a full Red, Green, Refactor TDD cycle (cycles\
        \ within Test Driven Development). This will be somewhat interactive and there\
        \ will be a plenty of slides with Python code.\",\"criteriaUrl\":\"http://glenjarvis.com/talks/baypiggies-pigs-pythons-and-goats\"\
        ,\"criteriaNarrative\":\"Recipient is expected to attend and participate in\
        \ the Bay Area Python Interest Group (BAyPIGgies) talk [Pigs, Pythons and\
        \ Goats: The Animal Guide to TDD](https://www.meetup.com/BAyPIGgies/events/264236536/).\
        \ Recipients who are not present but watch the video recording are also able\
        \ to earn this badge.\",\"alignments\":[],\"tags\":[\"python\",\"tdd\"],\"\
        expires\":{\"amount\":null,\"duration\":null},\"extensions\":{}},{\"entityType\"\
        :\"BadgeClass\",\"entityId\":\"5YhFytMUQb2loOMEy63gQA\",\"openBadgeId\":\"\
        https://api.badgr.io/public/badges/5YhFytMUQb2loOMEy63gQA\",\"createdAt\"\
        :\"2019-09-04T20:45:48Z\",\"createdBy\":\"LjhaHDrCT7K6EdwC_vVVIA\",\"issuer\"\
        :\"5Dm1JnO_STiXQ26x5yD4Kg\",\"issuerOpenBadgeId\":\"https://api.badgr.io/public/issuers/5Dm1JnO_STiXQ26x5yD4Kg\"\
        ,\"name\":\"Bay Area Python Interest Group TDD Quizmaster\",\"image\":\"https://media.badgr.io/uploads/badges/issuer_badgeclass_b75cd5f6-c2d7-46f3-8624-79447bf092f2.png\"\
        ,\"description\":\"You have shown that you understand the lecture components\
        \ of Test Driven Development.\\n\\nQuiz questions touched on topics such as:\\\
        n\\n- The Red, Green, Refactor cycle\\n- How to build a basic data structure\
        \ with TDD\\n- What are basic Python testing frameworks\\n- How to integrate\
        \ testing frameworks into pull requests.\\n- etc.\",\"criteriaUrl\":null,\"\
        criteriaNarrative\":\"Recipient has passed a randomized order of 10 on-line\
        \ quiz questions with a score of 80% or better at https://glenjarvis.com/\\\
        n\\nThe quiz questions revolved around these topics:\\n\\n- The Red, Green,\
        \ Refactor cycle\\n- How to build a basic data structure with TDD\\n- What\
        \ are basic Python testing frameworks\\n- How to integrate testing frameworks\
        \ into pull requests.\\n- etc.\",\"alignments\":[],\"tags\":[],\"expires\"\
        :{\"amount\":null,\"duration\":null},\"extensions\":{}},{\"entityType\":\"\
        BadgeClass\",\"entityId\":\"yzExTDvOTnOx_R3YhwPf3A\",\"openBadgeId\":\"https://api.badgr.io/public/badges/yzExTDvOTnOx_R3YhwPf3A\"\
        ,\"createdAt\":\"2019-09-04T20:54:32Z\",\"createdBy\":\"LjhaHDrCT7K6EdwC_vVVIA\"\
        ,\"issuer\":\"5Dm1JnO_STiXQ26x5yD4Kg\",\"issuerOpenBadgeId\":\"https://api.badgr.io/public/issuers/5Dm1JnO_STiXQ26x5yD4Kg\"\
        ,\"name\":\"Test Driven Development Fundamentals Champion\",\"image\":\"https://media.badgr.io/uploads/badges/issuer_badgeclass_01b86498-a190-4d37-8e4c-02b43280afb5.png\"\
        ,\"description\":\"Test Driven Development (TDD) is a term used by software\
        \ developers. Many developers think that they are using TDD by keeping a high\
        \ percentage of test covera[...]
