interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer FVQ__sample_token__QYzzRracgjH
    method: GET
    uri: https://api.badgr.io/v2/badgeclasses
  response:
    body:
      string: '{"status":{"description":"no valid auth token found","success":false},"validationErrors":[],"fieldErrors":{},"result":[]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/ld+json
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Authorization:
      - Bearer FVQ__sample_token__QYzzRracgjH
    method: GET
    uri: https://api.badgr.io/v2/badgeclasses
  response:
    body:
      string: '{"status":{"description":"no valid auth token found","success":false},"validationErrors":[],"fieldErrors":{},"result":[]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/ld+json
    status:
      code: 401
      message: Unauthorized
version: 1
